/1d2d_connections.csv
/1d_edge_index.csv
/1d_edges_dynamic_all.csv
/1d_edges_static.csv
/1d_nodes_dynamic_all.csv
/1d_nodes_static.csv
/2d_edge_index.csv
/2d_edges_dynamic_all.csv
/2d_edges_static.csv
/2d_nodes_dynamic_all.csv
/2d_nodes_static.csv
/sample_submission.csv
/test_1d2d_connections.csv
/test_1d_edge_index.csv
/test_1d_edges_dynamic_all.csv
/test_1d_edges_static.csv
/test_1d_nodes_dynamic_all.csv
/test_1d_nodes_static.csv
/test_2d_edge_index.csv
/test_2d_edges_dynamic_all.csv
/test_2d_edges_static.csv
/test_2d_nodes_dynamic_all.csv
/test_2d_nodes_static.csv
/test_timesteps.csv
/timesteps.csv
/sample_submission.parquet
